<a href="https://colab.research.google.com/github/cswcjt/Fastcampus-ML/blob/main/imbalance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-- Imbalanced data problem: ÎπÑÎåÄÏπ≠ Îç∞Ïù¥ÌÑ∞ Î¨∏Ï†ú

    - Îç∞Ïù¥ÌÑ∞ ÌÅ¥ÎûòÏä§ ÎπÑÏú®Ïù¥ ÎÑàÎ¨¥ Ï∞®Ïù¥Í∞Ä ÎÇòÎ©¥(highly-imbalanced data) Îã®ÏàúÌûà Ïö∞ÏÑ∏Ìïú ÌÅ¥ÎûòÏä§Î•º ÌÉùÌïòÎäî Î™®ÌòïÏùò Ï†ïÌôïÎèÑÍ∞Ä ÎÜíÏïÑÏßÄÎØÄÎ°ú Î™®ÌòïÏùò ÏÑ±Îä•ÌåêÎ≥ÑÏù¥ Ïñ¥Î†§ÏõåÏßÑÎã§. Ï¶â, Ï†ïÌôïÎèÑ(accuracy)Í∞Ä ÎÜíÏïÑÎèÑ Îç∞Ïù¥ÌÑ∞ Í∞ØÏàòÍ∞Ä Ï†ÅÏùÄ ÌÅ¥ÎûòÏä§Ïùò Ïû¨ÌòÑÏú®(recall-rate)Ïù¥ Í∏âÍ≤©Ìûà ÏûëÏïÑÏßÄÎäî ÌòÑÏÉÅÏù¥ Î∞úÏÉùÌï† Ïàò ÏûàÎã§.

-- Imbalanced-Learn methodology: Ìï¥Í≤∞ Î∞©Î≤ï 

    - ÎπÑÎåÄÏπ≠ Îç∞Ïù¥ÌÑ∞Îäî Îã§Ïàò ÌÅ¥ÎûòÏä§ Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÏùºÎ∂ÄÎßå ÏÇ¨Ïö©ÌïòÎäî Ïñ∏Îçî ÏÉòÌîåÎßÅÏù¥ÎÇò ÏÜåÏàò ÌÅ¥ÎûòÏä§ Îç∞Ïù¥ÌÑ∞Î•º Ï¶ùÍ∞ÄÏãúÌÇ§Îäî Ïò§Î≤Ñ ÏÉòÌîåÎßÅÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ ÎπÑÏú®ÏùÑ ÎßûÏ∂îÎ©¥ Ï†ïÎ∞ÄÎèÑ(precision)Í∞Ä Ìñ•ÏÉÅÎêúÎã§. 

    - Ïò§Î≤ÑÏÉòÌîåÎßÅ(Over-Sampling)

    - Ïñ∏ÎçîÏÉòÌîåÎßÅ(Under-Sampling)

    - Î≥µÌï©ÏÉòÌîåÎßÅ(Combining Over-and Under-Sampling)

-- under sampling 

    - RandomUnderSampler: Î¨¥ÏûëÏúÑÎ°ú Îç∞Ïù¥ÌÑ∞Î•º ÏóÜÏï†Îäî Îã®Ïàú ÏÉòÌîåÎßÅ

    - TomekLinks: 
        - 1) ÌÜ†Î©ïÎßÅÌÅ¨(Tomek‚Äôs link)ÎûÄ ÏÑúÎ°ú Îã§Î•∏ ÌÅ¥ÎûòÏä§Ïóê ÏÜçÌïòÎäî Ìïú ÏåçÏùò Îç∞Ïù¥ÌÑ∞ (ùë•+,ùë•‚àí)Î°ú ÏÑúÎ°úÏóêÍ≤å Îçî Í∞ÄÍπåÏö¥ Îã§Î•∏ Îç∞Ïù¥ÌÑ∞Í∞Ä Ï°¥Ïû¨ÌïòÏßÄ ÏïäÎäî Í≤ÉÏù¥Îã§. 
        - 2) ÌÜ†Î©ïÎßÅÌÅ¨Î•º Ï∞æÏùÄ Îã§Ïùå Í∑∏ Ï§ëÏóêÏÑú Îã§Ïàò ÌÅ¥ÎûòÏä§Ïóê ÏÜçÌïòÎäî Îç∞Ïù¥ÌÑ∞Î•º Ï†úÏô∏ÌïòÎäî Î∞©Î≤ï

    - CondensedNearestNeighbour(CNN): 
        - CNN(Condensed Nearest Neighbour) Î∞©Î≤ïÏùÄ 1-NN Î™®ÌòïÏúºÎ°ú Î∂ÑÎ•òÎêòÏßÄ ÏïäÎäî Îç∞Ïù¥ÌÑ∞Îßå ÎÇ®Í∏∞Îäî Î∞©Î≤ïÏù¥Îã§. ÏÑ†ÌÖçÎêú Îç∞Ïù¥ÌÑ∞ ÏßëÌï©ÏùÑ ùëÜÎùºÍ≥† ÌïòÏûê.
        - 1) ÏÜåÏàò ÌÅ¥ÎûòÏä§ Îç∞Ïù¥ÌÑ∞Î•º Î™®Îëê ùëÜÏóê Ìè¨Ìï®ÏãúÌÇ®Îã§.
        - 2) Îã§Ïàò Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú ÌïòÎÇòÎ•º Í≥®ÎùºÏÑú Í∞ÄÏû• Í∞ÄÍπåÏö¥ Îç∞Ïù¥ÌÑ∞Í∞Ä Îã§Ïàò ÌÅ¥ÎûòÏä§Ïù¥Î©¥ Ìè¨Ìï®ÏãúÌÇ§ÏßÄ ÏïäÍ≥† ÏïÑÎãàÎ©¥ ùëÜÏóê Ìè¨Ìï®ÏãúÌÇ®Îã§.
        - 3) ÎçîÏù¥ÏÉÅ ÏÑ†ÌÉùÎêòÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÏùÑ ÎïåÍπåÏßÄ 3Î•º Î∞òÎ≥µÌïúÎã§.

    - OneSidedSelection: 
        - TomekLinks + CNN 

    - EditedNearestNeighbours(ENN): 
        - Îã§Ïàò ÌÅ¥ÎûòÏä§ Îç∞Ïù¥ÌÑ∞ Ï§ë Í∞ÄÏû• Í∞ÄÍπåÏö¥ k(n_neighbors)Í∞úÏùò Îç∞Ïù¥ÌÑ∞Í∞Ä Î™®Îëê(kind_sel="all") ÎòêÎäî Îã§Ïàò(kind_sel="mode") Îã§Ïàò ÌÅ¥ÎûòÏä§Í∞Ä ÏïÑÎãàÎ©¥ ÏÇ≠Ï†úÌïòÎäî Î∞©Î≤ïÏù¥Îã§. ÏÜåÏàò ÌÅ¥ÎûòÏä§ Ï£ºÎ≥ÄÏùò Îã§Ïàò ÌÅ¥ÎûòÏä§ Îç∞Ïù¥ÌÑ∞Îäî ÏÇ¨ÎùºÏßÑÎã§.

    - NeighbourhoodCleaningRule: 
        -  CNN + ENN

    
-- over sampling

    - RandomOverSampler
        - Random Over SamplingÏùÄ ÏÜåÏàò ÌÅ¥ÎûòÏä§Ïùò Îç∞Ïù¥ÌÑ∞Î•º Î∞òÎ≥µÌï¥ÏÑú ÎÑ£Îäî Í≤É(replacement)Ïù¥Îã§. Í∞ÄÏ§ëÏπòÎ•º Ï¶ùÍ∞ÄÏãúÌÇ§Îäî Í≤ÉÍ≥º ÎπÑÏä∑ÌïòÎã§. 

    - ADASYN(Adaptive Synthetic Sampling Approach for Imbalanced Learning)
        - ÏÜåÏàò ÌÅ¥ÎûòÏä§ Îç∞Ïù¥ÌÑ∞ÏôÄ Í∑∏ Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Í∞ÄÏû• Í∞ÄÍπåÏö¥ kÍ∞úÏùò ÏÜåÏàò ÌÅ¥ÎûòÏä§ Îç∞Ïù¥ÌÑ∞ Ï§ë Î¨¥ÏûëÏúÑÎ°ú ÏÑ†ÌÉùÎêú Îç∞Ïù¥ÌÑ∞ ÏÇ¨Ïù¥Ïùò ÏßÅÏÑ†ÏÉÅÏóê Í∞ÄÏÉÅÏùò ÏÜåÏàò ÌÅ¥ÎûòÏä§ Îç∞Ïù¥ÌÑ∞Î•º ÎßåÎìúÎäî Î∞©Î≤ïÏù¥Îã§.

    - SMOTE(Synthetic Minority Over-sampling Technique)
        - ADASYN Î∞©Î≤ïÏ≤òÎüº Îç∞Ïù¥ÌÑ∞Î•º ÏÉùÏÑ±ÌïòÏßÄÎßå ÏÉùÏÑ±Îêú Îç∞Ïù¥ÌÑ∞Î•º Î¨¥Ï°∞Í±¥ ÏÜåÏàò ÌÅ¥ÎûòÏä§ÎùºÍ≥† ÌïòÏßÄ ÏïäÍ≥† Î∂ÑÎ•ò Î™®ÌòïÏóê Îî∞Îùº Î∂ÑÎ•òÌïúÎã§.

-- Î≥µÌï© ÏÉòÌîåÎßÅ

    - SMOTE+ENN
        - SMOTE+ENN Î∞©Î≤ïÏùÄ SMOTE(Synthetic Minority Over-sampling Technique) Î∞©Î≤ïÍ≥º ENN(Edited Nearest Neighbours) Î∞©Î≤ïÏùÑ ÏÑûÏùÄ Í≤ÉÏù¥Îã§. 
    - SMOTE+Tomek
        - SMOTE+Tomek Î∞©Î≤ïÏùÄ SMOTE(Synthetic Minority Over-sampling Technique) Î∞©Î≤ïÍ≥º ÌÜ†Î©ïÎßÅÌÅ¨ Î∞©Î≤ïÏùÑ ÏÑûÏùÄ Í≤ÉÏù¥Îã§.

-- Ï£ºÏùò ÏÇ¨Ìï≠

    - train & test datasetsÏùò Ìè¨ÌçºÎ®ºÏä§Î•º Ï£ºÏãúÌï¥ÏïºÌïúÎã§. 
        - to gain insight into the impact of the method, it is a good idea to monitor the performance on both train and test datasets after oversampling and compare the results to the same algorithm on the original dataset.

    - ÌÅ¥ÎûòÏä§Ïùò Î∂ÑÌè¨Ïùò skewnessÍ∞Ä ÎÜíÏùÄÏßÄ ÌôïÏù∏Ïù¥ ÌïÑÏöîÌïòÎã§. 
        - The increase in the number of examples for the minority class, especially if the class skew was severe, can also result in a marked increase in the computational cost when fitting the model, especially considering the model is seeing the same examples in the training dataset again and again.

    - Pipeline ÏÇ¨Ïö©Ïãú
        - A traditional scikit-learn Pipeline cannot be used; instead, a Pipeline from the imbalanced-learn library can be used

-- ÏôúÎèÑÏôÄ Ï≤®ÎèÑ

    - ÏôúÎèÑ (Skewness) : Î∂ÑÌè¨Ïùò ÎπÑÎåÄÏπ≠ÎèÑ
        - Ï†ïÍ∑úÎ∂ÑÌè¨ = ÏôúÎèÑ 0
        - ÏôºÏ™ΩÏúºÎ°ú ÏπòÏö∞Ïπ® = ÏôúÎèÑ > 0
        - Ïò§Î•∏Ï™ΩÏúºÎ°ú ÏπòÏö∞Ïπ® = ÏôúÎèÑ < 0
    - Ï≤®ÎèÑ (Kurtosis) : ÌôïÎ•†Î∂ÑÌè¨Ïùò Îæ∞Ï°±Ìïú Ï†ïÎèÑ
        - Ï†ïÍ∑úÎ∂ÑÌè¨ = Ï≤®ÎèÑ 0(Pearson Ï≤®ÎèÑ = 3)
        - ÏúÑÎ°ú Îæ∞Ï°±Ìï® = Ï≤®ÎèÑ > 0(Pearson Ï≤®ÎèÑ >3)
        - ÏïÑÎûòÎ°ú Îæ∞Ï°±Ìï® = Ï≤®ÎèÑ < 0 (Pearson Ï≤®ÎèÑ < 3)

PreprocessingÏóê Îì§Ïñ¥Í∞à imbalance Ìï®Ïàò ÎßåÎì§Ïûê

In [2]:
# Îç∞Ïù¥ÌÑ∞Î∂ÑÏÑù 4Ï¢Ö ÏÑ∏Ìä∏
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from google.colab import drive
drive.mount('/content/drive')
base_path = "/content/drive/MyDrive/fastcamp/datas/open/"
train = pd.read_csv(base_path + "train.csv", encoding='cp949')
test = pd.read_csv(base_path + "test.csv", encoding='cp949')
submission = pd.read_csv(base_path + "sample_submission.csv", encoding='cp949')
print("Train shape : ", train.shape)
print("Test shape : ", test.shape)

Mounted at /content/drive
Train shape :  (14095, 54)
Test shape :  (6041, 19)

In [293]:
from collections import Counter # ÏÉòÌîåÍ≤∞Í≥º ÌôïÏù∏
from sklearn.model_selection import train_test_split as tts # Ìä∏ÌÖåÌä∏ÌÖå
from sklearn.decomposition import PCA # Ï∞®ÏõêÏ∂ïÏÜå
from sklearn.ensemble import RandomForestClassifier as RFC # Î™®Îç∏ÏÑ†ÌÉù
from sklearn.metrics import f1_score # ÏÑ±Í≥ºÏßÄÌëú
from sklearn.metrics import classification_report # ÏÑ±Í≥ºÏßÄÌëú
from imblearn.under_sampling import * # ÏûÑÎ≤®Îü∞Ïä§
from imblearn.over_sampling import * # ÏûÑÎ≤®Îü∞Ïä§
from imblearn.combine import * # ÏûÑÎ≤®Îü∞Ïä§
from imblearn.pipeline import Pipeline # ÌååÏù¥ÌîÑÎùºÏù∏Íµ¨Ï∂ï

In [208]:
base_path = "/content/drive/MyDrive/fastcamp/datas/open/"
train = pd.read_csv(base_path + "train.csv", encoding='cp949')
test = pd.read_csv(base_path + "test.csv", encoding='cp949')
submission = pd.read_csv(base_path + "sample_submission.csv", encoding='cp949')

class oil:
    def __init__(self):
        base_path = '/content/drive/MyDrive/fastcamp/datas/open/'
        self.load_path = base_path #+ 'data/'
        self.save_path = base_path #+ 'submission/'
        self.train = pd.read_csv(self.load_path + 'train.csv')
        self.test = pd.read_csv(self.load_path + 'test.csv')
        self.submission = pd.read_csv(self.load_path + 'sample_submission.csv')

        self.X = train.drop(columns=['ID', 'Y_LABEL'])
        #self.y = train.Y_LABEL
        #self.X_test = test.drop(columns=['ID'])
        #self.X2
    
    def reset_data(self, mode: str=None):
        if mode is None:
            self.train = pd.read_csv(self.load_path + 'train.csv')
            self.test = pd.read_csv(self.load_path + 'test.csv')
        elif mode == 'train':
            self.train = pd.read_csv(self.load_path + 'train.csv')
        elif mode == 'test':
            self.test = pd.read_csv(self.load_path + 'test.csv')

In [209]:
# Î™®Îì† imbalance sampler Îã¥Í≥†ÏûàÎäî df ÎßåÎì†Îã§. 
sampling_method_info = pd.DataFrame(
    {"under_sampling" : [RandomUnderSampler(),
                        TomekLinks(), 
                        CondensedNearestNeighbour(), 
                        OneSidedSelection(), 
                        EditedNearestNeighbours(),
                        NeighbourhoodCleaningRule()],

    "over_sampling" : [RandomOverSampler(),
                       ADASYN(),
                       NeighbourhoodCleaningRule(),
                       False,
                       False,
                       False],

    "hybrid_samping" : [SMOTEENN(),
                        SMOTETomek(),
                        False,
                        False,
                        False,
                        False,]
     }
)

In [212]:
# sampling_method_info["under_sampling"]

In [139]:
# Î¶¨Ïä§Ìä∏ 3Í∞úÎ°ú ÎÇòÎàÑÏñ¥ ÎëêÎäîÍ≤å Îçî Ìé∏Î¶¨ÌïòÎã§
# under_sampling -> Í∑∏Î£πÌïë ÏïÑÏòà ÏïàÌïú Í≤ΩÏö∞Îûë ÎπÑÍµêÌï¥Î≥¥ÎäîÍ≤å Ï¢ãÏùÑÎìØ 
# ÎÇòÎ®∏ÏßÄÎèÑ Ìï¥Î≥¥ÎäîÍ±∏Î°ú..!

In [177]:
if type(sampling_method_info) == pd.core.frame.DataFrame : 
    print(1)

1

In [175]:
type(sampling_method_info)

pandas.core.frame.DataFrame

In [307]:
def make_X_y(df) : 
    """
    will be called when to make train and validation data set
    return X, y
    """
    print(df)
    X = df.drop(columns = "Y_LABEL") # feature vectors
    y = df.Y_LABEL # target value
    return X, y

def grouping_df(train_df, categorical_feature) : 
    """
    divide train_df to make each group df
    return grouped df list 
    """
    #print(df[categorical_feature])
    train_df = train_df.drop(columns = "ID")
    grouped_dic = {}
    for standard in list(train_df[categorical_feature].unique()) : 
        print(f"dividing my df on {standard}")
        grouped_dic[f"{standard}"] = train_df.loc[train_df[categorical_feature] ==  standard, ].drop(columns = categorical_feature)
    return grouped_dic

def call_sampling_method(data, sampling_method_info = sampling_method_info, one_of_columns: str = None) :
    """
    choose sampling method name from one of the columns of sampling_method_info_df
    resample X_imb and y_imb
    return the balanced sampling of X and y
    """
    sampler_list = sampling_method_info[one_of_columns]
    if type(data) == pd.core.frame.DataFrame : 
        X, y = make_X_y(data)
        return (X, y)

    else : 
        X_y_dic = {}
        for key, group in data.items() : 
            group = group.fillna(0)
            X, y = make_X_y(group)
            X_y_dic[f"{key}"] = (X, y)

        balanced_dic = {}
        num = 0
        for sampler in sampler_list : 
            try :
                for key, grouped_tuple in X_y_dic.items() : 
                    balanced_dic[f"{sampler}".replace("()", "")] = sampler.fit_resample(grouped_tuple[0], grouped_tuple[1])
            except AttributeError : 
                pass

        return balanced_dic
  
def split_data(data) : 
    """
    use this function to split train and validation data set
    return X_train, X_val, y_train, y_val
    """
    if type(data) == tuple : 
        X_train, X_val, y_train, y_val = tts(data[0], data[1], test_size=0.1, random_state=42)
        return X_train, X_val, y_train, y_val

    else : 
        tts_dic = {}
        for key, tuple_set in data.items() :
            (X_train, X_val, y_train, y_val) = tts(tuple_set[0], tuple_set[1], test_size=0.1, random_state=42)
            tts_dic[f"{key}"] = (X_train, X_val, y_train, y_val)
        return tts_dic

def random_forest_call(split_data) :
  """
  main use will be supplement function for classifier_with_group
  """
  classifier_without_dic = RFC()  # Random Forest Î∂ÑÎ•òÍ∏∞ Î∂àÎü¨Ïò§Í∏∞
  acc_dic = {}
  for key, tuple_dic in split_data.items() : 
      classifier_without_dic.fit(tuple_dic[0], tuple_dic[2]) # Random Forest ÌïôÏäµÏùÑ ÏúÑÌï¥ parameter Ï±ÑÏö∞Í∏∞
      pred = classifier_without_dic.predict(tuple_dic[1]) # Random Forest ÌÖåÏä§Ìä∏Î•º ÏúÑÌï¥ parameter Ï±ÑÏö∞Í∏∞
      acc = f1_score(tuple_dic[3], pred)  # f1_score Í≥ÑÏÇ∞
      acc_dic[f"{key}"] = acc
      #print(classification_report(tuple_dic[2], pred))
      print("f1_score : %.3f" % acc)

  return classifier_without_dic, acc_dic

def classifier_with_group(classifier, dic) : 
  """
  return list that contains all classifier for each group 
  """
  classifier_list = []
  for key in dic : 
      df = dic[key]
      classifier_with_group = random_forest_call(X_train = df[0], y_train = df[2], X_test = df[1], y_test = df[3])
      classifier_list.append(classifier_with_group)
  return classifier_list

  
# def zero_importance_columns(df, feature_list, threshold: int = None) : 
#     """
#     return list of all feature_importance for each group 
#     """
#     zero_list = []
#     if threshold == None : 
#         for my_list in feature_list : 
#             df = my_list.reset_index()
#             df.columns = ["name", "value"]
#             zero_list.extend(df[df.value == 0].name.to_list())
#         #print(zero_list, len(zero_list))
#         return list(set(zero_list))

# def drop_to_total(columns_list) : 
#     updated_group = []
#     for group in group_name :
#         group = group.drop(columns = intersection)
#         updated_group.append(group)
  
#     total_split_dic = {}
#     for num, group in enumerate(updated_group) : 
#         X, y = make_X_y(group)
#         X_train, X_val, y_train, y_val = train_val(df = group, X_df = X, y_df = y)
#         total_split_dic[num] = X_train, X_val, y_train, y_val
#         #total_split_dic.keys()

#     return total_split_dic

In [277]:
# data load
train_df = oil().train
train_df

,ID,COMPONENT_ARBITRARY,ANONYMOUS_1,YEAR,SAMPLE_TRANSFER_DAY,ANONYMOUS_2,AG,AL,B,BA,...,U25,U20,U14,U6,U4,V,V100,V40,ZN,Y_LABEL
0,TRAIN_00000,COMPONENT3,1486,2011,7,200,0,3,93,0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,154.0,75,0
1,TRAIN_00001,COMPONENT2,1350,2021,51,375,0,2,19,0,...,2.0,4.0,6.0,216.0,1454.0,0,NaN,44.0,652,0
2,TRAIN_00002,COMPONENT2,2415,2015,2,200,0,110,1,1,...,0.0,3.0,39.0,11261.0,41081.0,0,NaN,72.6,412,1
3,TRAIN_00003,COMPONENT3,7389,2010,2,200,0,8,3,0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,133.3,7,0
4,TRAIN_00004,COMPONENT3,3954,2015,4,200,0,1,157,0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,133.1,128,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14090,TRAIN_14090,COMPONENT3,1616,2014,8,200,0,2,201,1,...,NaN,NaN,NaN,NaN,NaN,0,NaN,135.4,16,0
14091,TRAIN_14091,COMPONENT1,2784,2013,2,200,0,3,85,0,...,NaN,NaN,NaN,NaN,NaN,0,14.5,117.5,1408,0
14092,TRAIN_14092,COMPONENT3,1788,2008,9,550,0,6,0,1,...,NaN,NaN,NaN,NaN,NaN,0,NaN,54.0,1301,0
14093,TRAIN_14093,COMPONENT2,2498,2009,19,550,0,2,4,0,...,7.0,8.0,100.0,1625.0,18890.0,0,NaN,44.3,652,0
14094,TRAIN_14094,COMPONENT2,1902,2012,15,200,0,0,77,0,...,1163.0,2565.0,11296.0,181016.0,325823.0,0,NaN,47.0,612,0

In [278]:
# grouping
grouped_dic = grouping_df(train_df, "COMPONENT_ARBITRARY")
grouped_dic["COMPONENT3"]

dividing my df on COMPONENT3
dividing my df on COMPONENT2
dividing my df on COMPONENT1
dividing my df on COMPONENT4

,ANONYMOUS_1,YEAR,SAMPLE_TRANSFER_DAY,ANONYMOUS_2,AG,AL,B,BA,BE,CA,...,U25,U20,U14,U6,U4,V,V100,V40,ZN,Y_LABEL
0,1486,2011,7,200,0,3,93,0,0,3059,...,NaN,NaN,NaN,NaN,NaN,0,NaN,154.0,75,0
3,7389,2010,2,200,0,8,3,0,0,1960,...,NaN,NaN,NaN,NaN,NaN,0,NaN,133.3,7,0
4,3954,2015,4,200,0,1,157,0,0,71,...,NaN,NaN,NaN,NaN,NaN,0,NaN,133.1,128,0
5,2061,2008,4,550,0,3,8,0,0,2770,...,NaN,NaN,NaN,NaN,NaN,0,NaN,69.7,1015,0
6,1416,2015,7,616,0,0,21,0,0,130,...,NaN,NaN,NaN,NaN,NaN,0,NaN,148.5,24,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14082,3060,2010,2,200,0,2,3,0,0,2523,...,NaN,NaN,NaN,NaN,NaN,0,NaN,140.0,35,1
14086,1637,2008,16,487,0,11,99,2,0,22,...,NaN,NaN,NaN,NaN,NaN,0,NaN,152.6,21,1
14088,1311,2010,6,511,0,0,20,0,0,227,...,NaN,NaN,NaN,NaN,NaN,0,NaN,128.9,20,0
14090,1616,2014,8,200,0,2,201,1,0,6,...,NaN,NaN,NaN,NaN,NaN,0,NaN,135.4,16,0
14092,1788,2008,9,550,0,6,0,1,0,13,...,NaN,NaN,NaN,NaN,NaN,0,NaN,54.0,1301,0

In [ ]:
# imbalance problem
balanced_grouped_dic = call_sampling_method(grouped_dic, one_of_columns = "hybrid_samping")
balanced_grouped_dic.keys()

In [280]:
# split
# X_train = 0, X_val = 1, y_train = 2, y_val = 3
splited_balanced_grouped_dic = split_data(balanced_grouped_dic)
splited_balanced_grouped_dic.keys()

dict_keys(['SMOTEENN', 'SMOTETomek'])

In [289]:
splited_balanced_grouped_dic["SMOTEENN"][0]
splited_balanced_grouped_dic["SMOTEENN"][1]
splited_balanced_grouped_dic["SMOTEENN"][2]
splited_balanced_grouped_dic["SMOTEENN"][3]

101     0
260     0
1083    1
109     0
649     1
       ..
1192    1
746     1
620     1
275     0
1079    1
Name: Y_LABEL, Length: 121, dtype: int64

In [309]:
a, b = random_forest_call(splited_balanced_grouped_dic)

f1_score : 0.976
f1_score : 0.982

In [308]:
print(a)
print(b)

RandomForestClassifier()
{'SMOTEENN': 'f1_score : 0.991869918699187.3f', 'SMOTETomek': 'f1_score : 0.9824561403508771.3f'}

In [ ]:
# pipe line 
### classification_report -> strÏóêÏÑú dfÎ°ú Î∞îÍæ∏Î©¥ Ìé∏Ìï†ÎìØ
def pipine(sampling_method = None, dimensionality = None, model = None) : 
    pipeline = Pipeline([('sampling_method', sampling_method), ('dimensionality', dimensionality), ('model', model)]) # sampling method, dimensionality, model
    X_train, X_test, y_train, y_test = tts(X_samp, y_samp, random_state=42)
    pipeline.fit(X_train, y_train) 
    y_hat = pipeline.predict(X_test)
    #print(type(classification_report(y_test, y_hat)))
    return classification_report(y_test, y_hat)

def pipine(sampling_method = None, dimensionality = None, model = None) : 
    pipeline = Pipeline([('sampling_method', sampling_method), ('dimensionality', dimensionality), ('model', model)]) # sampling method, dimensionality, model
    X_train, X_test, y_train, y_test = tts(X_samp, y_samp, random_state=42)
    pipeline.fit(X_train, y_train) 
    y_hat = pipeline.predict(X_test)
    print(classification_report(y_test, y_hat))

In [ ]:
pca = PCA()
rfc = RFC()
rmu = RandomUnderSampler()
pipine(rmu, pca, rfc)